@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

.mapboxgl-popup-content {
    background: #67B1D6;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #67B1D6;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #67B1D6;
}

  /*Text*/
h1 
  {font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px; 
  color: #fff;
  text-align: center;
  }